/* Centrer le formulaire sur la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

table {
    width: 100%;
}

/* Espacer les éléments et ajouter des bordures arrondies */
td {
    padding: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

textarea {
    resize: vertical;
}

/* Styliser le bouton de soumission */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Effet de survol sur le bouton */
input[type="submit"]:hover {
    background-color: #45a049;
}

/* Améliorer l'apparence des liens */
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    text-decoration: underline;
}
